__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
.venv/
.venvs/
.env
.envrc
.pytest_cache/
.mypy_cache/
.ruff_cache/
.tox/
.hypothesis/
.coverage
.coverage.*
htmlcov/
.cache/
docs/site/
.DS_Store
.vscode/
